
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* ..................Header...................... */
.head-con
{
    background-color: gold;
    padding: 1.2rem;
}
.head-text
{
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 35px;
    margin: 0;
}

/* .................Container..................... */
.container
{
    float: left;
    margin-top: 1.5rem;
    width: 22%;
}
@media screen and (max-width: 500px)
{
    .container
    {
        width: 100%;
    }
}
/* Container 1 */
.image
{
    padding-left: 25px;
}

/* Container 2 */
.con2
{
    width: 78%;
}
#inputText
{
    width: 85%;
    height: 110px;
    display: block;
    /* margin: auto; */
    font-size: larger;
}
#outputText
{
    width: 85%;
    height: 100px;
    margin: auto;
    border: 1px solid black;
}
button
{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
footer
{
    background-color: gold;
}